﻿
@model FootWear_OnlineStore.Models.Address
<dt>
    @Html.DisplayNameFor(model => model.AddressLine1)
</dt>
<dd>
    @Html.DisplayFor(model => model.AddressLine1)
</dd>
<dt>
    @Html.DisplayNameFor(model => model.AddressLine2)
</dt>
<dd>
    @Html.DisplayFor(model => model.AddressLine2)
</dd>
<dt>
    @Html.DisplayNameFor(model => model.Town)
</dt>
<dd>
    @Html.DisplayFor(model => model.Town)
</dd>
<dt>
    @Html.DisplayNameFor(model => model.County)
</dt>
<dd>
    @Html.DisplayFor(model => model.County)
</dd>
<dt>
    @Html.DisplayNameFor(model => model.Postcode)
</dt>
<dd>
    @Html.DisplayFor(model => model.Postcode)
</dd>
