﻿@model IEnumerable<FootWear_OnlineStore.Models.Category>

@{
    ViewBag.Title = "Shoe Categories";
}

<h2>@ViewBag.Title </h2>

@if (Request.IsAuthenticated && User.IsInRole("Admin"))
{ 
    <p class="large-bold-text">
        @Html.ActionLink("Create New", "Create")
    </p>
}
<table class="table">
@*    <tr>
        <th class="large-text">
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th></th>
    </tr>*@

    @foreach (var item in Model)
    {
        <tr>
            <td class="large-text">
                @Html.ActionLink(item.Name, "Index", "Products", new { category = item.Name }/*, new { @class = "large-bold-text" }*/)
            </td>
            <td class="large-bold-text">
                @if (Request.IsAuthenticated && User.IsInRole("Admin"))
                {
                    @Html.ActionLink("Edit", "Edit", new { id = item.ID }/*, new { @class = "large-bold-text" }*/)
                    @Html.Raw(" | ")
                    @Html.ActionLink("Delete", "Delete", new { id = item.ID })
                }
            </td>
        </tr>
    }

</table>
