﻿@model IEnumerable < FootWear_OnlineStore.ViewModels.BestSellersViewModel >

@{
    ViewBag.Title = "Shoe Store Home Page";
}

<div class="jumbotron">
    <header>
        <h1>Welcome to Shoe Store</h1>
    </header>
    <h2>Here is a selection of our best selling shoe products</h2>
    <div class="row">
        @foreach (var item in Model)
        {
            <div class="col-md-3">
                @if (item.ProductImage != null)
                {
                    <a href="@Url.Action("Details", "Products", new { id = item.Product.ID
                        })">
                        <img src="@(Url.Content(Constants.ProductImagePath) +
                           item.ProductImage)">
                    </a>
                }
                <p>
                    @Html.ActionLink(item.Product.Name, "Details", "Products", new { id =
                 item.Product.ID }, null)
                </p>
            </div>
        }
    </div>
    @*@section LeftSection {
        <p>
            @Html.ActionLink("Shop Now", "Index", "Products", null, new { @class = "btn btn-primary btn-lg" })
        </p>
    }*@
    <p>
        @Html.ActionLink("Shop Now", "Index", "Products", null, new { @class = "btn btn-primary btn-lg" })
    </p>
</div>
