﻿@model IEnumerable<FootWear_OnlineStore.Models.ProductImage>

@{
    ViewBag.Title = "Images";
}

<h2>@ViewBag.Title</h2>

<p>
    @Html.ActionLink("Upload New Images", "Upload")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FileName)
        </th>
        <th></th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.FileName)
        </td>
        <td>
            @if (!String.IsNullOrWhiteSpace(item.FileName))
            {
                <img src="@(Url.Content(Constants.ProductImagePath) + item.FileName)">
            }
        </td>
        <td>
            @Html.ActionLink("Delete", "Delete", new { id = item.ID })
        </td>
    </tr>
}

</table>
