﻿
@{
    ViewBag.Title = "Admin";
}
<h2>@ViewBag.Title</h2>
<div class="container">
    <div class="row">
        @Html.ActionLink("Manage Images", "Index", "ProductImages")
    </div>
    <div class="row">
        @Html.ActionLink("Manage Sizes", "Index", "Sizes")
    </div>
    <div class="row">
        @Html.ActionLink("Manage Colours", "Index", "Colours")
    </div>
    <div class="row">
        @Html.ActionLink("Manage Roles", "Index", "RolesAdmin")
    </div>
    <div class="row">
        @Html.ActionLink("Manage Users", "Index", "UsersAdmin")
    </div>
    <div class="row">
        @Html.ActionLink("View all Orders", "Index", "Orders")
    </div>
</div>
