﻿@model FootWear_OnlineStore.ViewModels.BasketViewModel

@{
    ViewBag.Title = "Your Basket";
}

<h2>@ViewBag.Title</h2>
@if (Model.BasketLines.Count() > 0)
{
    <div>
        @using (Html.BeginForm("UpdateBasket", "Basket"))
        {
            @Html.AntiForgeryToken();
            <input class="btn btn-sm btn-success" type="submit" value="Update Basket" />
            <hr />
            <div class="row floated-cols">
                <div class="col-md-4"><label>Item</label></div>
                <div class="col-md-2"><label>Quantity</label></div>
                <div class="col-md-2"><label>Price</label></div>
                <div class="col-md-2"><label>Subtotal</label></div>
            </div>
            <hr />
            for (int i = 0; i < Model.BasketLines.Count; i++)
            {
                <div class="row floated-cols">
                    <div class="col-md-4">
                            @Html.ActionLink(Model.BasketLines[i].Product.Name, "Details", "Products", new { id = Model.BasketLines[i].ProductID }, new { @class = "large-bold-text" })<br />
                            @if (Model.BasketLines[i].Product.ProductImageMappings != null && Model.BasketLines[i].Product.ProductImageMappings.Any())
                            {
                                <a href="@Url.Action("Details", "Products", new { id = Model.BasketLines[i].ProductID })">
                                    <img src="@(Url.Content(Constants.ProductThumbnailPath) + Model.BasketLines[i].Product.ProductImageMappings.OrderBy(pim => pim.ImageNumber).ElementAt(0).ProductImage.FileName)">
                                </a>
                            }
                            <p class="bold-text">Colour&nbsp;and&nbsp;Size:</p>
                            <p>@Html.DisplayFor(model => model.BasketLines[i].Colour.Name)&nbsp;@Html.DisplayFor(model => model.BasketLines[i].Size.Region)&nbsp;@Html.DisplayFor(model => model.BasketLines[i].Size.Measure)</p>
                    </div>
                    <div class="col-md-2">
                        @Html.HiddenFor(productID => Model.BasketLines[i].ProductID)
                        @Html.HiddenFor(sizeID => Model.BasketLines[i].SizeID)
                        @Html.HiddenFor(colourID => Model.BasketLines[i].ColourID)
                        @Html.TextBoxFor(quantity => Model.BasketLines[i].Quantity, new { @class = "form-control" })
                        <p>
                            @Html.ValidationMessageFor(quantity => Model.BasketLines[i].Quantity, "", new { @class = "text-danger" })
                        </p>
                    </div>
                    <div class="col-md-2">
                        @Html.DisplayFor(price => Model.BasketLines[i].Product.Price)
                    </div>
                    <div class="col-md-2">
                        @((Model.BasketLines[i].Quantity * Model.BasketLines[i].Product.Price).ToString("c"))
                    </div>
                    <div class="col-md-1">
                        @Html.ActionLink("Remove", "RemoveLine", "Basket", new { id = Model.BasketLines[i].Product.ID, sizeID = Model.BasketLines[i].Size.ID, colourID = Model.BasketLines[i].Colour.ID }, null)
                    </div>
                </div>
                <hr />
            }
        }
        <div class="row floated-cols">
            <div class="col-md-6">
                @Html.DisplayNameFor(model => model.TotalCost)
            </div>
            <div class="col-md-2">
                @Html.DisplayFor(model => model.TotalCost)
            </div>
            <div class="col-md-2">
                @Html.ActionLink("Order Now", "Review", "Orders", null, new { @class = "btn btn-sm btn-success" })
            </div>
        </div>
    </div>
}
else
{
    <p>Your Basket is empty</p>
}
<div>
    @Html.ActionLink("Continue Shopping", "Index", "Products")
</div>
@section Scripts {
    @Scripts.Render("∼/bundles/jqueryval")
}
