﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Rodney Woollett">

    <title>@ViewBag.Title - Shoe Store</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="page-wrapper">
        @* Fix page header with static top style *@
        <div class="intro navbar navbar-inverse navbar-static-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    @Html.ActionLink("Shoe Store", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li>@Html.ActionLink("Shop by Category", "Index", "Categories")</li>
                        <li>@Html.RouteLink("View all our Products", "ProductsIndex")</li>
                        @if (Request.IsAuthenticated && User.IsInRole("Admin"))
                        {
                            <li>@Html.ActionLink("Admin", "Index", "Admin")</li>
                        }
                    </ul>
                    @using (Html.BeginRouteForm("ProductsIndex", FormMethod.Get, new { @class = "navbar-form navbar-left" }))
                    {
                        <div class="form-group">
                            @Html.TextBox("Search", null, new { @class = "form-control", @placeholder = "Search Shoes" })
                        </div>
                        <button type="submit" class="btn btn-default">Submit</button>
                    }
                    @Html.Partial("_LoginPartial")
                    @Html.Action("Summary", "Basket")
                </div>
            </div>
        </div>
        <div class="container body-content">
            @RenderSection("LeftSection", required: false)
            @*<div class="corner"></div>*@
            @RenderBody()
            <hr />
            @*<div class="corner-end"></div>*@
            <footer>
                <p>&copy; @DateTime.Now.Year - Shoe Store</p>
            </footer>
        </div>

        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
        @RenderSection("scripts", required: false)
    </div>
</body>
</html>
