﻿@model FootWear_OnlineStore.Models.ApplicationUser

<dt>
    @Html.DisplayNameFor(model => model.FirstName)
</dt>
<dd>
    @Html.DisplayFor(model => model.FirstName)
</dd>
<dt>
    @Html.DisplayNameFor(model => model.LastName)
</dt>
<dd>
    @Html.DisplayFor(model => model.LastName)
</dd>
<dt>
    @Html.DisplayNameFor(model => model.Email)
</dt>
<dd>
    @Html.DisplayFor(model => model.Email)
</dd>
<dt>
    @Html.DisplayNameFor(model => model.DateOfBirth)
</dt>
<dd>
    @Html.DisplayFor(model => model.DateOfBirth)
</dd>
@Html.DisplayFor(model => model.Address)

