﻿@model FootWear_OnlineStore.ViewModels.ProductViewModel

@{
    ViewBag.Title = "Add Colour";
}

<h2>Add Colour</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
<div class="form-horizontal">
    <h4>Product Colour</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Product.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Product.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Product.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Product.Description)
        </dd>
    </dl>
    <div class="form-group">
        <div class="col-md-10">
            @Html.HiddenFor(model => model.ProductColour.ProductID, new { Value = Model.Product.ID }) 
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.ProductColour.ColourID, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownListFor(vm => vm.ProductColour.ColourID, Model.Colours, htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.ProductColour.ColourID, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Add" class="btn btn-default" />
        </div>
    </div>
</div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
    @Html.Raw(" | ")
    @Html.ActionLink("Product Colours", "Colours", new { id = Model.Product.ID })
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
