﻿@model IEnumerable<FootWear_OnlineStore.Models.ProductColour>

@{
    ViewBag.Title = "Colours";
}

<h2>Colours</h2>

<p>
    @Html.ActionLink("Add Colour", "AddColour", new { id = ViewBag.ProductID })
</p>
<hr />
<dl class="dl-horizontal">
    <dt>
        @Html.DisplayNameFor(model => model.Product.Name)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.First().Product.Name)
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.Product.Description)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.First().Product.Description)
    </dd>
</dl>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Colour.Name)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Colour.Name)
            </td>
            <td>
                @Html.ActionLink("Delete", "DeleteColour", new { id = item.ProductID, colour = item.ColourID })
            </td>
        </tr>
    }

</table>
<div>
    @Html.ActionLink("Back to List", "Index")
    @Html.Raw(" | ")
    @Html.ActionLink("Product Details", "Details", new { id = ViewBag.ProductID })
</div>
