﻿@model FootWear_OnlineStore.ViewModels.ProductViewModel

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Product</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Product.Category.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Product.Category.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Product.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Product.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Product.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Product.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Product.Price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Product.Price)
        </dd>
        @if (Model.Product.ProductImageMappings != null && Model.Product.ProductImageMappings.Any())
        {
            <dt></dt>
            <dd>
                <img src="@(Url.Content(Constants.ProductImagePath) +
                        Model.Product.ProductImageMappings.OrderBy(pim =>
                        pim.ImageNumber).ElementAt(0).ProductImage.FileName)">
            </dd>
            <dt></dt>
            <dd>
                @*<div class="row">*@
                @foreach (var item in Model.Product.ProductImageMappings.OrderBy(pim =>
                        pim.ImageNumber))
                {
                    @*<div class="col-md-3">*@
                    <a href="@(Url.Content(Constants.ProductImagePath) +
                        item.ProductImage.FileName)">
                        <img src="@(Url.Content(Constants.ProductThumbnailPath) +
                        item.ProductImage.FileName)">
                    </a>
                    @*</div>*@
                }
                @*</div>*@
            </dd>
        }
    </dl>
    @using (Html.BeginForm("AddToBasket", "Basket"))
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(model => model.ID)
        <dl class="dl-horizontal">
            <dt>
                @*            @Html.DisplayNameFor(model => model.ProductColours)*@
                @Html.LabelFor(model => model.ColourID, htmlAttributes: new { @class = "control-label col-md-2" })
            </dt>
            <dd>
                @*            @Html.DropDownListFor(model => model.ProductColours, null, htmlAttributes: new { @class = "form-control", @size = Model.ProductColours.Count() })*@
                @Html.DropDownListFor(vm => vm.ColourID, Model.ProductColours, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.ColourID, "", new { @class = "text-danger" })
            </dd>
            <dt>
                @*            @Html.DisplayNameFor(model => model.ProductSizes)*@
                @Html.LabelFor(model => model.SizeID, htmlAttributes: new { @class = "control-label col-md-2" })
            </dt>
            <dd>
                @*            @Html.DropDownListFor(model => model.ProductSizes, null, htmlAttributes: new { @class = "form-control", @size = Model.ProductSizes.Count() })*@
                @Html.DropDownListFor(vm => vm.SizeID, Model.ProductSizes, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.SizeID, "", new { @class = "text-danger" })
            </dd>
            <dt>
                Quantity:
            </dt>
            <dd>
                @Html.DropDownList("quantity", Enumerable.Range(1, 10).Select(i => new SelectListItem { Text = i.ToString(), Value = i.ToString() }))
                <input type="submit" class="btn btn-primary btn-xs" value="Add to Basket">
            </dd>
        </dl>
    }
</div>
<p>
    @if (Request.IsAuthenticated && User.IsInRole("Admin"))
    {
        @Html.ActionLink("Edit", "Edit", new { id = Model.Product.ID })
        @Html.Raw(" | ")
        @Html.ActionLink("Add Sizes", "Sizes", new { id = Model.Product.ID })
        @Html.Raw(" | ")
        @Html.ActionLink("Add Colours", "Colours", new { id = Model.Product.ID })
        @Html.Raw(" | ")
    }
    @Html.ActionLink("Back to List", "Index")
</p>


@section scripts {
    <script>
        $(document).ready(function () {
            $('a>img').click(function (evt) {
                evt.preventDefault();
                var thumbnailAddress = $(this).parent().attr('href');
                var mainImage = $('dd > img'); // Only the one selector for this combination of tags
                mainImage.attr('src', thumbnailAddress);
            });
        });
    </script>
}
