﻿@model FootWear_OnlineStore.ViewModels.ProductIndexViewModel
@using PagedList.Mvc

@{
    ViewBag.Title = "Shoe Products";
}

<h2>@ViewBag.Title</h2>

<p>
    @* Added 9 Jan 2019 message for seach result item count if a seach is active *@
    @(String.IsNullOrWhiteSpace(Model.Search) ? "Showing all" : "You search for " + Model.Search + " found") @Model.Products.TotalItemCount products
    @if (Request.IsAuthenticated && User.IsInRole("Admin"))
    {
        @Html.ActionLink("Create New", "Create")
    }
        @using (Html.BeginRouteForm("ProductsIndex", FormMethod.Get))
        {
            <label>Filter by category:</label>
            @Html.DropDownListFor(vm => vm.Category, Model.CatFilterItems, "All")
            @* Added: 9 Jan 2019 sort by price *@
            <label>Sort By:</label>
            @Html.DropDownListFor(vm => vm.SortBy, new SelectList(Model.Sorts, "Value", "Key"), "Default")
            <input type="submit" value="Filter" />
            <input type="hidden" name="Search" id="Search" value="@Model.Search" />
        }
    </p>
<table class="table">
    <tr>
        <th></th>
        <th>
            @Html.DisplayNameFor(model => model.Category)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Products.First().Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Products.First().Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Products.First().Price)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model.Products)
    {
    <tr class="row">
        <td>
            @if (item.ProductImageMappings != null && item.ProductImageMappings.Any())
            {
                <a href="@Url.Action("Details", new { id = item.ID})">
                    <img src="@(Url.Content(Constants.ProductImagePath) +
                        item.ProductImageMappings.OrderBy(pim =>
                        pim.ImageNumber).ElementAt(0).ProductImage.FileName)">
                </a>
            }
        </td>
        <td data-th="@Html.DisplayNameFor(model => model.Category)">
            @Html.DisplayFor(modelItem => item.Category.Name)
        </td>
        <td data-th="@Html.DisplayNameFor(model => model.Products.First().Name)">
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td data-th="@Html.DisplayNameFor(model => model.Products.First().Description)">
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td data-th="@Html.DisplayNameFor(model => model.Products.First().Price)">
            @Html.DisplayFor(modelItem => item.Price)
        </td>
        <td>
            @if (Request.IsAuthenticated && User.IsInRole("Admin"))
            {
                @Html.ActionLink("Edit", "Edit", new { id = item.ID })
                @Html.Raw(" | ")
                @Html.ActionLink("Add Sizes", "Sizes", new { id = item.ID })
                @Html.Raw(" | ")
                @Html.ActionLink("Add Colours", "Colours", new { id = item.ID })
                @Html.Raw(" | ")
                @Html.ActionLink("Delete", "Delete", new { id = item.ID })
                @Html.Raw(" | ")
            }
            @Html.ActionLink("Details", "Details", new { id = item.ID })
        </td>
    </tr>
    }

</table>
@* Added 9 Jan 2019 PagedList control buttons *@
<div>
    Page @(Model.Products.PageCount < Model.Products.PageNumber ? 0 : Model.Products.PageNumber) of @Model.Products.PageCount
    @Html.PagedListPager(Model.Products, page => Url.Action("Index", new
{
    category = @Model.Category,
    Search = @Model.Search,
    sortBy = @Model.SortBy,
    page
}))
</div>

