﻿@model IEnumerable<FootWear_OnlineStore.Models.ProductSize>

@{
    ViewBag.Title = "Sizes";
}

<h2>Sizes</h2>

<p>
    @Html.ActionLink("Add Size", "AddSize", new { id = ViewBag.ProductID })
</p>
<hr />
<dl class="dl-horizontal">
    <dt>
        @Html.DisplayNameFor(model => model.Product.Name)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.First().Product.Name)
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.Product.Description)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.First().Product.Description)
    </dd>
</dl>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Size.Region)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Size.Measure)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Size.Region)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Size.Measure)
        </td>
        <td>
            @Html.ActionLink("Delete", "DeleteSize", new { id = item.ProductID, size = item.SizeID })
        </td>
    </tr>
    }

</table>
<div>
    @Html.ActionLink("Back to List", "Index")
    @Html.Raw(" | ")
    @Html.ActionLink("Product Details", "Details", new { id = ViewBag.ProductID })
</div>
